/* Header.css */
.header {
  background-color: #023636;
  padding: 1.3rem 2rem;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.tax-logo {
  width: 80px;
  height: auto;
  object-fit: contain;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #a3e1e1;
}
