/* Nav.css */

.nav {
  background-color: #023636;
  padding: 1.3rem 2rem;
  width: 200px;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tax-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
  margin-right: 2rem;
  margin-left: 0.1rem;
  align-self: flex-end;
  vertical-align: bottom;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-left: 43rem;
}

.nav-items a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  white-space: nowrap;

}

.nav-items a:last-child {
  margin-right: 10rem;
}

.nav-items a:hover {
  color: #a3e1e1;
}

.login-button {
  color: #023636;
  padding: 0.5rem 1.5rem;
  border-radius: 120px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  border: 2px solid #038383;
  margin-left: 2rem;
}

.login-button:hover {
  background-color: #036060;
  color: #023636;
  border-color: #039898;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -20px; /* Adjust as needed */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #023636; /* Light off-white background */
  min-width: 100px;
  z-index: 1001;
  left: -40px;
  border-radius: 5px; /* Add slight border radius */
}

.dropdown-content a {
  color:#023636; /* Light desaturated blue-green text */
  padding: 12px 12px;
  text-decoration: none;
  text-align: left;
  font-family: sans-serif; /* Sans-serif font */
  font-size: 1rem; /* Adjust font size if needed */
}

.dropdown-content a:hover {
  background-color: #034f4f; /* Slightly darker hover background */
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 2rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-arrow {
  margin-left: 10px;
  font-size: 1rem;
  vertical-align: baseline;
  color: white;
  z-index: 1001;
}