.services-section-heading {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 5rem;
  color: #023636;
  font-size: 2.375rem; /* 38px */
  position: relative;
  padding-bottom: 1rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.services-section-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background-color: #023636;
}