.guidelines-section {
  background-color: #023636;
  color: white;
  padding: 24px;
  border-radius: 16px;
  max-width: 1150px;
  margin: 40px auto;
  width: 120%;
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.guidelines-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.guideline-item {
  background-color: #035353;
  padding: 16px;
  border-radius: 12px;
}

.toggle-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 500;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.toggle-button:hover {
  opacity: 0.8;
}

.content {
  margin-top: 8px;
  font-size: 0.875rem;
}

.read-more-button {
  margin-top: 8px;
  background-color: white;
  color: #023636;
  padding: 8px 16px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
}

.read-more-button:hover {
  background-color: #f0f0f0;
}
